version: '3.7'

services:
  django-db:
    image: postgres
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_PASSWORD: "postgres"

  django-app:
    build:
      context: .
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DATABASE_HOST=django-db
      - DATABASE_NAME=postgres
      - DATABASE_PASSWORD=postgres
      - DATABASE_PORT=5432
      - DATABASE_URL=postgres://postgres@db:5432/postgres
      - DATABASE_USER=postgres
      - DEBUG=True
      - DJANGO_SETTINGS_MODULE=app.settings.development
    command: >
      bash -c "python manage.py migrate
      && python manage.py runserver 0.0.0.0:8000"
    expose:
      - "8000"
    ports:
      - "8000:8000"
    volumes:
      - .:/code
    depends_on:
      - django-db