{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <p>I am measuring the air quality in my neighbourhood using a device inspired by the <a href="https://sensor.community/en/" style="text-decoration: none;" target="_blank">Sensor.Community global sensor network</a>.</p>
    <p>Accurately measuring and logging particulates and other pollutants in our air is essential to understand our environment, and to hold authorities to account when levels exceed legal limits. However, measuring this sort of thing accurately is hard without expensive, specialist equipment. I am aiming to develop a device that can measure and record air quality data as accurately as possible. This is just the start!</p>
    <p>Thanks for looking at my site. If you want to get in touch, tweet me at <a href="https://twitter.com/AirBs5" style="text-decoration: none;" target="_blank">@AirBs5</a>.</p>
</div>
{% endblock %}