{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <p>I am measuring the air quality in my neighbourhood using a device inspired by the <a href="https://sensor.community/en/" style="text-decoration: none;" target="_blank">Sensor.Community global sensor network</a>.</p>
    <p>Accurately measuring and logging particulates and other pollutants in our air is essential to understand our environment, and to hold authorities to account when levels exceed legal limits. However, measuring this sort of thing accurately is hard without expensive, specialist equipment. I am aiming to develop a device that can measure and record air quality data as accurately as possible. This is just the start!</p>
    <p>Thanks for looking at my site. Get in touch <a href="https://twitter.com/AirBs5" style="text-decoration: none;" target="_blank">@AirBs5</a>.</p>
</div>
<div class="row">
    <h2>Limits</h2>
    <p>The World Health Organisation (WHO) <a href="https://www.who.int/health-topics/air-pollution" style="text-decoration: none;" target="_blank">Air Quality Guidelines (AQG)</a> set the following targets for ambient outdoor particulate matter pollution.</p>
</div>
<table class="table table-bordered">
    <caption>WHO air quality guidelines particulate matter targets. Source: <a href="https://www.euro.who.int/__data/assets/pdf_file/0005/78638/E90038.pdf" style="text-decoration: none;" target="_blank"><i>Air Quality Guidelines</i>. World Health Organisation, 2005</a> p. 278 - 279</caption>
    <thead>
        <tr>
            <th scope="col">Target</th>
            <th scope="col">PM 10 (&micro;g/m<sup>3</sup>)</th>
            <th scope="col">PM 2.5 (&micro;g/m<sup>3</sup>)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Annual mean level</th>
            <td>50</td>
            <td>25</td>
        </tr>
        <tr>
            <th scope="row">24-hour mean level</th>
            <td>20</td>
            <td>10</td>
        </tr>
    </tbody>
</table>
<div class="row">
    <p>The colour coding of PM 10 and PM 2.5 values on the homepage are set based on the 24-hour mean level values.</p>
</div>
{% endblock %}