{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if latest_sensor_data %}
<div class="row">
    <p>Live air quality readings on <a href="https://goo.gl/maps/rGwLviQrdUozsfFv9" style="text-decoration: none;" target="_blank">Clare Street, Redfield, Bristol BS5 9ED</a>.</p>
    <p>Last updated {{ latest_sensor_data.upload_time|date:"l jS F P e" }}</p>
</div>
<div class="row">
    <h2>Particulate Matter</h2>
</div>
<div class="row">
    <div class="col-sm-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ latest_sensor_data.SDS_P1_ppm|floatformat:2 }} <small>&micro;g/m<sup>3</sup></small></h2>
                <h5 class="card-text text-muted">PM 10</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ latest_sensor_data.SDS_P2_ppm|floatformat:2 }} <small>&micro;g/m<sup>3</sup></small></h2>
                <h5 class="card-text text-muted">PM 2.5</h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h2>Atmospheric Conditions</h2>
</div>
<div class="row">
    <div class="col-sm-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ latest_sensor_data.BME280_temperature_deg_c|floatformat:2 }} <small>&deg;C</small></h2>
                <h5 class="card-text text-muted">Temperature</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ latest_sensor_data.BME280_humidity_pc|floatformat:2 }} <small>%H</small></h2>
                <h5 class="card-text text-muted">Humidity</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ latest_sensor_data.BME280_pressure_hpa|floatformat:2 }} <small>hPa</small></h2>
                <h5 class="card-text text-muted">Pressure</h5>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <p>There is no data yet!</p>
</div>
{% endif %}
{% endblock %}